{% extends 'base.html' %}

{% block content %}

<!-- FORMULARIO PARA REGISTRAR EL RESTAURANT-->
<!-- Main Section Start -->
<div class="main-section">
    <div class="page-section nopadding cs-nomargin" style="margin-top: 0px;padding-top: 60px;padding-bottom: 60px;margin-bottom: 0px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <div class="user-dashboard loader-holder" style ="width:450px; min-height:auto">
                        <div class="user-holder">
                    <h4 class="text-center" style="margin-bottom: 0;">  </h4>
                    <p class="text-center"> Haz pedidos a tus restaurantes favoritos </p>
                    <hr>
                    <div id="restaurant-sets-holder">
                        
                        {% comment %} Asociarlo al formulario del vendor, y poner el atributo enctype {% endcomment %}
                        <form action = "{% url 'login' %} "class="form-fields-set foodbakery-dev-restaurant-form" method="post" enctype ='multipart/form-data'>
                            
                            
                            {% comment %} establecer token de seguridad para formularios {% endcomment %}
                            {% csrf_token %}

                            <!--Carga mensaje de error-->
                            {% include 'includes/alerts.html' %}

                            <ul class="register-add-restaurant-tab-container restaurant-information-tab-container">
                                <li>
                                    <div class="row justify-content-center">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="row justify-content-center">
                                                <ul >
                                                    <li>

                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="field-holder">
                                                                <label>E-mail</label>
                                                                <input type ="email" name ="email" placeholder="Ingresa tu e-mail">
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="field-holder">
                                                                <label>Password</label>
                                                                <input type ="password" name ="password" placeholder="Ingresa tu password">
                                                            </div>
                                                        </div>

                                                        
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                <li>
                                    <div class="row justify-content-center">
                                        <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12 text-center">
                                            <div class="field-holder">
                                                <div class="payment-holder">
                                                    <input type="submit" value="Log in" id="btn-next-restaurant-information" class="bgcolor">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Section End -->


{% endblock %}
