

{% load static %}

<!-- Main Wrapper -->
<div class="wrapper">
    <!-- Header Start -->
    <header id="header">
        <div class="main-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="logo">
                            <figure>
                                <a href="{% url 'home' %}" class="light-logo">
                                    <img src="{% static '/logo/foodOnlineLogo.png' %}" alt="FoodBakery" width="150px">
                                </a>
                            </figure>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="main-location ml-2">
                            <ul>
                                <li class="location-has-children choose-location">
                                    <form action="#">
                                        <input type="text" value="" name="location"
                                            placeholder="Enter your delivery location" autocomplete="off">
                                        <span id="foodbakery_radius_location_open" class="foodbakery-radius-location">
                                            <i class="icon-target5"></i>
                                        </span>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="login-option">
                            {% if user.is_authenticated %}
                                <button type="button" class="btn btn-info btn-sm" style="margin-top: 20px; color: white;">
                                    {% comment %} MyAccount proviene de una función, que detecta el tipo de usuario, por lo tanto la URL correspondiente {% endcomment %}
                                    <a href="{% url 'myAccount' %}" style="text-decoration: none; color: white;">
                                        Mi cuenta
                                    </a>
                                </button>
                                <button type="button" class="btn btn-warning btn-sm" style="margin-top: 20px; color: white;">
                                    <a href="{% url 'logout' %}" style="text-decoration: none; color: white;">
                                        Log out
                                    </a>
                                </button>
                            {% else %}
                                <button type="button" class="btn btn-success btn-sm" style="margin-top: 20px; color: white;">
                                    <a href="{% url 'login' %}" style="text-decoration: none; color: white;">
                                        Login
                                    </a>
                                </button>
                                <button type="button" class="btn btn-success btn-sm" style="margin-top: 20px; color: white;">
                                    <a href="{% url 'registerUser' %}" style="text-decoration: none; color: white;">
                                        New user
                                    </a>
                                </button>
                                <button type="button" class="btn btn-danger btn-sm" style="margin-top: 20px; color: white;">
                                    <a href="{% url 'registerVendor' %}" style="text-decoration: none; color: white;">
                                        Register Restaurant
                                    </a>
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
